.logo-admin{
    background-color: rgb(0, 143, 220) !important;
    width: 100px !important;
}

.form-check {
    text-align: right !important;
}

.form-check .form-check-input {
    float: right !important;
    margin-right: -1.5
}

input[type="email"]:-moz-placeholder {
    text-align: right;
}
input[type="email"]:-ms-input-placeholder {
    text-align: right;
}
input[type="email"]::-webkit-input-placeholder {
    text-align: right;
}

